- include_tasks: "RedHat.yml"
- include_tasks: "Debian.yml"
- include_tasks: "generate_keycloak_certs.yml"

- name: Remove pre-existing keycloak container
  docker_container:
    name: keycloak
    state: absent
    keep_volumes: false

- name: Create a keycloak import folder
  file:
    path: /opt/keycloak/data/import/
    state: directory
    owner: root
    group: root
    mode: "0750"

- name: Copy KDC configuration file to host
  template:
    src: test_realm.json
    dest: "/opt/keycloak/data/import/test_realm.json"

- name: Start Keycloak container
  community.docker.docker_container:
    name: keycloak
    image: "keycloak/keycloak:latest"
    command: ["start-dev","--https-certificate-file=/etc/keycloak/keycloak.crt","--https-certificate-key-file=/etc/keycloak/keycloak.key","--hostname=keycloak","--hostname-strict=false","--import-realm"]
    restart_policy: unless-stopped
    published_ports:
      - "8443:8443"
    volumes:
      - "/etc/keycloak:/etc/keycloak"
      - "/opt/keycloak/data/import/test_realm.json:/opt/keycloak/data/import/test_realm.json"

- name: Add kerberos user to /etc/hosts
  lineinfile:
    state: present
    dest: /etc/hosts
    line: '127.0.0.1 keycloak'
    unsafe_writes: yes