- include_tasks: "RedHat.yml"
- include_tasks: "Debian.yml"
- include_tasks: "generate_keycloak_certs.yml"

- name: Remove pre-existing keycloak container
  docker_container:
    name: keycloak
    state: absent
    keep_volumes: false

- name: Create a keycloak import folder
  file:
    path: /opt/keycloak/data/import/
    state: directory
    owner: root
    group: root
    mode: "0750"

- name: Copy test_realm file to host
  template:
    src: test_realm.json
    dest: "/opt/keycloak/data/import/test_realm.json"

- name: Start Keycloak container
  community.docker.docker_container:
    name: keycloak
    image: "keycloak/keycloak:latest"
    command: ["start-dev","--https-certificate-file=/etc/keycloak/keycloak.crt","--https-certificate-key-file=/etc/keycloak/keycloak.key","--hostname=keycloak","--hostname-strict=false","--import-realm"]
    restart_policy: unless-stopped
    published_ports:
      - "8443:8443"
    volumes:
      - "/etc/keycloak:/etc/keycloak"
      - "/opt/keycloak/data/import/test_realm.json:/opt/keycloak/data/import/test_realm.json"

- name: Get Keycloak IP
  shell: >-
    docker inspect {{ keycloak_container_name | default('keycloak') }} | jq -r '.[0].NetworkSettings.Networks | to_entries[0].value.IPAddress'
  register: keycloak_ip_cmd

- name: Store Keycloak IP
  set_fact:
    keycloak_ip: "{{ keycloak_ip_cmd.stdout | trim }}"

- name: Add keycloak user to /etc/hosts
  lineinfile:
    state: present
    dest: /etc/hosts
    line: '{{ keycloak_ip }} keycloak'
    unsafe_writes: yes

- name: Wait until TCP connection is ready
  ansible.builtin.wait_for:
    host: keycloak
    port: 8443
    timeout: 120
    delay: 0

- name: Wait for API to become available
  ansible.builtin.uri:
    url: "https://keycloak:8443/realms/test/protocol/openid-connect/token"
    method: POST
    body_format: form-urlencoded
    body:
      grant_type: client_credentials
      client_id: "pbmclient"
      client_secret: "pbm-secret"
    status_code: 200
    validate_certs: yes
    return_content: yes
  register: kc_token_resp
  retries: 10
  delay: 3
  until:
    - kc_token_resp.status == 200



