.vagrant
world_innodb.sql
world.sql
docker-image-tests/pxc/.DS_Store
#testing staff
**/__pycache__
**/report.xml
**/*report.xml
pbm-functional/pytest/example_cluster.py
.idea/*
*.pem
plm-functional/manual/meta/main.yml
psmdb-tarball/psmdb-tarball/playbooks/prepare.yml
roles/psmdb/*
plm-functional/manual/molecule/test/
plm-functional/manual/playbooks/test.yml
