- include_tasks: "{{ansible_os_family}}.yml"

- name: Create workdir
  file:
    path: /pykmip_workdir
    state: directory
    mode: '0755'

- name: Download easy-rsa
  git:
    repo: 'https://github.com/OpenVPN/easy-rsa.git'
    dest: /pykmip_workdir/easy-rsa
#    single_branch: yes
#    version: v3.1.7

- name: Download PyKMIP
  git:
    repo: 'https://github.com/OpenKMIP/PyKMIP.git'
    dest: /pykmip_workdir/PyKMIP

- name: Generate certs
  shell: |
    cd /pykmip_workdir/easy-rsa
    [ -d pki ] || easyrsa3/easyrsa init-pki
    easyrsa3/easyrsa --days=5 --req-cn=Percona --batch build-ca nopass
    easyrsa3/easyrsa --days=5 --req-ou=server --subject-alt-name=DNS:*,IP:127.0.0.1 --batch build-server-full 127.0.0.1 nopass
    easyrsa3/easyrsa --days=5 --batch build-client-full mongod nopass
    cat pki/issued/mongod.crt pki/private/mongod.key > /pykmip_workdir/mongod.pem
    cp pki/issued/127.0.0.1.crt pki/private/127.0.0.1.key pki/ca.crt /pykmip_workdir/

- name: Build PyKMIP
  shell: |
    cd /pykmip_workdir/PyKMIP
    git checkout $(git rev-list --tags --max-count=1)
    python setup.py install
  when: ansible_distribution_major_version != "24"

- name: Build PyKMIP
  shell: |
    cd /pykmip_workdir/PyKMIP
    git checkout $(git rev-list --tags --max-count=1)
    /usr/bin/python3.11 -m pip install -U 'setuptools<71.0.0' cffi
    /usr/bin/python3.11 setup.py install
  when: ansible_distribution_major_version == "24"

- name: Copy cnf template
  template:
    src: pykmip_server.conf
    dest: /pykmip_workdir

- name: Copy systemctl template
  template:
    src: pykmip.service
    dest: /etc/systemd/system/
  when: ansible_distribution_major_version != "24"

- name: Copy systemctl template
  template:
    src: pykmip_noble.service
    dest: /etc/systemd/system/pykmip.service
  when: ansible_distribution_major_version == "24"

- name: Start pykmip service
  systemd:
    state: started
    daemon_reload: true
    name: pykmip

- name: Fix setuptools noble
  shell: pip3 install -U setuptools --break-system-packages
  when: ansible_distribution_major_version == "24"
