- name: Check telemetry URL env
  shell: "echo $PERCONA_TELEMETRY_URL"
  register: url_output

- name: Display the value of telemetry URL
  debug:
    var: url_output.stdout

- set_fact:
    psmdb_mongosh: "{{ psmdb_to_test.split('.')[0] }}"

- name: install mongo shell deb package
  apt:
    name: "{{ packages }}"
    update_cache: yes
  vars:
    packages:
    - "percona-server-mongodb-shell={{ psmdb_to_test }}*"
  register: result
  retries: 10
  until: result is succeeded
  delay: 5
  when: ansible_os_family == "Debian" and psmdb_mongosh < "6"

- name: install psmdb deb packages
  apt:
    name: "{{ packages }}"
    update_cache: yes
  vars:
    packages:
    - "percona-server-mongodb={{ psmdb_to_test }}*"
    - "percona-server-mongodb-server={{ psmdb_to_test }}*"
    - "percona-server-mongodb-mongos={{ psmdb_to_test }}*"
    - "percona-server-mongodb-tools={{ psmdb_to_test }}*"
    - "percona-server-mongodb-shell={{ psmdb_to_test }}*"
  register: result
  retries: 10
  until: result is succeeded
  delay: 5
  when: ansible_os_family == "Debian"

- name: install psmdb deb debug packages
  apt:
    name: "{{ packages }}"
    update_cache: yes
  vars:
    packages:
    - "percona-server-mongodb-dbg={{ psmdb_to_test }}*"
  register: result
  retries: 10
  until: result is succeeded
  delay: 5
  when: ansible_os_family == "Debian" and (dbg_packages | default(true) | bool)

- name: install psmdb rpm packages
  yum:
    name: "{{ packages }}"
    state: latest
  vars:
    packages:
    - "percona-server-mongodb-{{ psmdb_to_test }}"
    - "percona-server-mongodb-server-{{ psmdb_to_test }}"
    - "percona-server-mongodb-mongos-{{ psmdb_to_test }}"
    - "percona-server-mongodb-tools-{{ psmdb_to_test }}"
    - "percona-server-mongodb-shell-{{ psmdb_to_test }}"
  register: result
  retries: 10
  until: result is succeeded
  delay: 5
  when: ansible_os_family == "RedHat"

- name: install psmdb debug rpm packages
  yum:
    name: "{{ packages }}"
    state: latest
  vars:
    packages:
      - "percona-server-mongodb-debuginfo-{{ psmdb_to_test }}"
  register: result
  retries: 10
  until: result is succeeded
  delay: 5
  when: ansible_os_family == "RedHat" and ansible_distribution_major_version == "7" and (dbg_packages | default(true) | bool)

- name: install psmdb debug rpm packages
  yum:
    name: "{{ packages }}"
    state: latest
  vars:
    packages:
      - "percona-server-mongodb-debugsource-{{ psmdb_to_test }}"
  register: result
  retries: 10
  until: result is succeeded
  delay: 5
  when: ansible_os_family == "RedHat" and ansible_distribution_major_version == "8" and psmdb_mongosh < "6" and (dbg_packages | default(true) | bool)

- name: install psmdb debug rpm packages
  yum:
    name: "{{ packages }}"
    state: latest
  vars:
    packages:
      - "percona-server-mongodb-tools-debuginfo-{{ psmdb_to_test }}"
      - "percona-server-mongodb-mongos-debuginfo-{{ psmdb_to_test }}"
      - "percona-server-mongodb-server-debuginfo-{{ psmdb_to_test }}"
  register: result
  retries: 10
  until: result is succeeded
  delay: 5
  when: ansible_os_family == "RedHat" and ansible_distribution_major_version >= "8" and psmdb_mongosh >= "6" and (dbg_packages | default(true) | bool)

- name: install psmdb debug rpm packages
  yum:
    name: "{{ packages }}"
    state: latest
  vars:
    packages:
      - "percona-server-mongodb-tools-debuginfo-{{ psmdb_to_test }}"
      - "percona-server-mongodb-mongos-debuginfo-{{ psmdb_to_test }}"
      - "percona-server-mongodb-server-debuginfo-{{ psmdb_to_test }}"
  register: result
  retries: 10
  until: result is succeeded
  delay: 5
  when: ansible_os_family == "RedHat" and ansible_distribution_major_version == "2023" and (dbg_packages | default(true) | bool)

- name: install mongosh deb package
  apt:
    name: "{{ packages }}"
    update_cache: yes
  vars:
    packages:
    - percona-mongodb-mongosh
  register: result
  retries: 10
  until: result is succeeded
  delay: 5
  when: ansible_os_family == "Debian" and psmdb_mongosh >= "6"

- name: install mongo shell rpm package
  yum:
    name: "{{ packages }}"
    state: latest
  vars:
    packages:
    - "percona-server-mongodb-shell-{{ psmdb_to_test }}"
  register: result
  retries: 10
  until: result is succeeded
  delay: 5
  when: ansible_os_family == "RedHat" and psmdb_mongosh < "6"

- name: install mongo shell debug rpm packages
  yum:
    name: "{{ packages }}"
    state: latest
  vars:
    packages:
      - "percona-server-mongodb-shell-debuginfo-{{ psmdb_to_test }}"
  register: result
  retries: 10
  until: result is succeeded
  delay: 5
  when: ansible_os_family == "RedHat" and ansible_distribution_major_version >= "8" and psmdb_mongosh < "6"

- name: install mongosh rpm package
  yum:
    name: "{{ packages }}"
    state: latest
  vars:
    packages:
    - percona-mongodb-mongosh
  register: result
  retries: 10
  until: result is succeeded
  delay: 5
  when: ansible_os_family == "RedHat" and psmdb_mongosh >= "6"

- name: backup old mongo CLI binary
  command: mv -f /usr/bin/mongo /usr/bin/mongo.bcp
  when: psmdb_mongosh >= "6"

- name: copy mongosh binary to mongo path for test scripts
  file:
    src: /usr/bin/mongosh
    dest: /usr/bin/mongo
    state: link
  when: psmdb_mongosh >= "6"
