---
- set_fact:
    psmdb_version: "{{ lookup('env', 'PSMDB_VERSION') }} | default('7.0.24-13', true)"
    psmdb_testing_version: "{{ lookup('env', 'TESTING_BRANCH') | default('main', true) }}"

- name: Get mongodb version
  set_fact:
    mongodb_ver: "{{ psmdb_version | regex_search('([0-9]+\\.[0-9]+\\.[0-9]+)', '\\1') }}"

#- name: Get git repo branch
#  set_fact:
#    repo_branch: "{{ psmdb_version | regex_search('([0-9]+\\.[0-9]+)', '\\1') }}"
#
#- name: Detect last-lts
#  set_fact:
#    last_lts: "{{ item }}"
#  loop:
#    - "4.4"
#    - "5.0"
#    - "6.0"
#    - "7.0"
#    - "8.0"
#  when:
#    - ( repo_branch[0] == "9.0" and item == "8.0" ) or
#      ( repo_branch[0] == "8.0" and item == "7.0" ) or
#      ( repo_branch[0] == "7.0" and item == "6.0" ) or
#      ( repo_branch[0] == "6.0" and item == "5.0" ) or
#      ( repo_branch[0] == "5.0" and item == "4.4" )
#
#- debug:
#    var: last_lts
#
#- name: Detect OS
#  set_fact:
#    os: "{{ item }}"
#  loop:
#    - ol7
#    - ol8
#    - ol9
#    - ol2023
#    - jammy
#    - focal
#    - noble
#    - bookworm
#    - bullseye
#    - buster
#  when:
#    - ( ansible_distribution == "Ubuntu" and ansible_distribution_major_version == "20" and item == "focal") or
#      ( ansible_distribution == "Ubuntu" and ansible_distribution_major_version == "22" and item == "jammy") or
#      ( ansible_distribution == "Ubuntu" and ansible_distribution_major_version == "24" and item == "noble") or
#      ( ansible_distribution == "Debian" and ansible_distribution_major_version == "10" and item == "buster") or
#      ( ansible_distribution == "Debian" and ansible_distribution_major_version == "11" and item == "bullseye") or
#      ( ansible_distribution == "Debian" and ansible_distribution_major_version == "12" and item == "bookworm") or
#      ( ansible_os_family == "RedHat" and ansible_distribution_major_version == "7" and item == "ol7") or
#      ( ansible_os_family == "RedHat" and ansible_distribution_major_version == "8" and item == "ol8") or
#      ( ansible_os_family == "RedHat" and ansible_distribution_major_version == "9" and item == "ol9") or
#      ( ansible_os_family == "RedHat" and ansible_distribution_major_version == "2023" and item == "ol2023")
#
#- name: Query latest last-lts version
#  uri:
#    url: https://www.percona.com/products-api.php
#    method: POST
#    body_format: form-urlencoded
#    body:
#      version: percona-server-mongodb-{{ last_lts }}
#    return_content: true
#  register: result
#
#- name: Debug result
#  debug:
#    var: result.content
#
#- name: Parse latest last-lts version
#  set_fact:
#    psmdb_last_lts: "{{ result.content|regex_replace('<option>-- Select version --</option><option value=[^>]*>([^<]*)</option>.*', '\\1')}}"
#
##output be like percona-server-mongodb-5.0.29-25
#- debug:
#    var: psmdb_last_lts
#
##generate uri for last_lts
##https://downloads.percona.com/downloads/percona-server-mongodb-7.0/percona-server-mongodb-7.0.18-11/binary/tarball/percona-server-mongodb-7.0.18-11-x86_64.focal-minimal.tar.gz
#- name: Download last_lts tarball from url
#  get_url:
#    url: 'https://downloads.percona.com/downloads/percona-server-mongodb-{{ last_lts }}/{{ psmdb_last_lts }}/binary/tarball/{{ psmdb_last_lts }}-x86_64.{{ os }}-minimal.tar.gz'
#    dest: /tmp/percona-server-mongodb-{{ last_lts }}-{{ os }}.tar.gz
#  ignore_errors: yes
#
#- name: Unpack tarball
#  unarchive:
#    src: /tmp/percona-server-mongodb.tar.gz
#    dest: /
#    remote_src: yes
#    extra_opts:
#    - --transform
#    - 's,^/*[^/]*,/usr,S'
#
#- name: Create dirs for multiversion setup
#  shell:
#    cmd: |
#      mkdir -p /data/install
#      mkdir -p /data/multiversion
#
#- name: Unpack last-lts tarball
#  unarchive:
#    src: /tmp/percona-server-mongodb-{{ last_lts }}-{{ os }}.tar.gz
#    dest: /data/install
#    remote_src: yes
#    extra_opts:
#    - --transform
#    - 's,^/*[^/]*,,S'
#  ignore_errors: yes
#
#- name: Install mongod last-lts
#  file:
#    src: /data/install/bin/mongod
#    dest: /data/multiversion/mongod-{{ last_lts }}
#    state: link
#    force: yes
#  ignore_errors: yes
#
#- name: Install mongos last-lts
#  file:
#    src: /data/install/bin/mongos
#    dest: /data/multiversion/mongos-{{ last_lts }}
#    state: link
#    force: yes
#  ignore_errors: yes
#
#- name: Clone PSMDB repo
#  git:
#    repo: 'https://github.com/percona/percona-server-mongodb.git'
#    dest: /percona-server-mongodb
#    version: "v{{ repo_branch[0] }}"
#    single_branch: yes
#
#- name: Clone psmdb-testing repo
#  git:
#    repo: 'https://github.com/Percona-QA/psmdb-testing.git'
#    dest: /package-testing
#    version: "{{ psmdb_testing_version }}"
#
#- name: Check if mongo cli exists in PATH
#  stat:
#    path: /usr/bin/mongo
#  register: mongo
#
#- name: Install percona release package
#  include_tasks: ../../../tasks/install_percona_release.yml
#
#- name: Enable psmdb testing repo
#  command: percona-release enable psmdb-{{ repo_branch[0].split('.')[0] }}{{ repo_branch[0].split('.')[1] }} testing
#  when: not mongo.stat.exists and repo_branch[0] | float >= 6.0
#
#- name: Install mongosh deb packages
#  apt:
#    name: "{{ packages }}"
#    update_cache: yes
#  vars:
#    packages:
#    - percona-mongodb-mongosh
#    - percona-server-mongodb-shell
#  when: ansible_os_family == "Debian" and not mongo.stat.exists
#
#- name: Install mongosh rpm packages
#  yum:
#    name: "{{ packages }}"
#    state: latest
#  vars:
#    packages:
#    - percona-mongodb-mongosh
#    - percona-server-mongodb-shell
#  when: ansible_os_family == "RedHat" and not mongo.stat.exists
#
#- name: Copy mongo binary to workdir
#  copy:
#    src: /usr/bin/mongo
#    dest: /percona-server-mongodb/mongo
#    mode: '0755'
#    remote_src: yes
#  when: not mongo.stat.exists
#
#- name: Link mongosh binary to mongo path for test scripts
#  file:
#    src: /usr/bin/mongosh
#    dest: /usr/bin/mongo
#    state: link
#    force: yes
#  when: not mongo.stat.exists
#
#- name: Install Python utilities
#  pip:
#    requirements: /percona-server-mongodb/etc/pip/dev-requirements.txt
#    virtualenv: /opt/venv
#  when: repo_branch[0] | float <= 7.0
#
#- name: Install poetry for PSMDB 8.0
#  pip:
#    name:
#      - poetry==2.0.0
#    state: present
#    virtualenv: /opt/venv
#  when: repo_branch[0] | float >= 8.0
#
#- name: Install Python utilities for PSMDB 8.0
#  shell: /opt/venv/bin/poetry install --sync --no-root
#  retries: 5
#  delay: 1
#  register: result
#  until: result.rc == 0
#  args:
#    chdir: /percona-server-mongodb
#  environment:
#    POETRY_VIRTUALENVS_CREATE: false
#    VIRTUAL_ENV: /opt/venv
#  when: repo_branch[0] | float >= 8.0
#
#- name: Fix files permissions
#  shell: "find /percona-server-mongodb/jstests -type f | xargs chmod 400"
#
#- name: Install necessary rpm packages for tarball
#  yum:
#    name: "{{ packages }}"
#    state: latest
#  vars:
#    packages:
#    - cyrus-sasl-lib
#    - cyrus-sasl-plain
#    - cyrus-sasl-gssapi
#  when: ansible_os_family == "RedHat"
#
#- name: Install necessary deb packages for tarball
#  apt:
#    name: "{{ packages }}"
#    update_cache: yes
#  vars:
#    packages:
#    - libcurl4
#    - libsasl2-modules
#    - libsasl2-modules-gssapi-mit
#    - libsasl2-modules-ldap
#  when: ansible_os_family == "Debian"
#
#- name: Erase .git folder
#  shell: rm -rf /percona-server-mongodb/.git
#
#- name: Add mongo version
#  lineinfile:
#    path: /percona-server-mongodb/.resmoke_mongo_version.yml
#    line: "mongo_version: {{mongodb_ver[0]}}"
#    create: yes
#
#- name: Fix test
#  shell: sed -E 's/.+last-continuous.+//g' -i /percona-server-mongodb/jstests/multiVersion/genericSetFCVUsage/do_upgrade_downgrade.js
#
#- name: Copy suites
#  shell: cp -rp /package-testing/suites/* /percona-server-mongodb/buildscripts/resmokeconfig/suites/
#  ignore_errors: true
