- name: Converge
  hosts: all
  become: true
  become_method: sudo
  collections:
    - community.mongodb
  vars:
    env_string: "{{ lookup('env', 'EXTRA_VARS') | default('') }}"
    env_vars_parsed: >-
      {{ dict(
           env_string.split(',')
           | map('trim')
           | select('match', '^.+?=.+$')
           | map('split', '=', 1)
         )
      }}
  tasks:
    - set_fact:
        # Version of psmdb release to be enabled (6, 7, or 8)
        psmdb_version: "{{ lookup('env', 'PSMDB') | default('8', true) }}"

    - set_fact:
        # Branch of pcsm branch to test
        pcsm_branch: "{{ lookup('env', 'PCSM_BRANCH') | default('main', true) }}"

    - set_fact:
        # Go Version
        golang_version: "{{ lookup('env', 'GO_VERSION') | default('1.24.2', true) }}"

    - set_fact:
        # User to log into each AWS Instance
        ssh_user: "{{ lookup('env', 'SSH_USER') | default('none', true) }}"

    - name: Install PSMDB and PCSM Source and Destination
      include_tasks: ../scripts/install_pcsm_psmdb.yml

#    - name: Create a replicaset rs for Source
#      community.mongodb.mongodb_replicaset:
#        replica_set: rs
#        login_host: "{{ private_source_ip }}"
#        members:
#          - host: "{{ private_source_ip }}:27017"
#            priority: 1
#        validate: no
#      when: inventory_hostname == "keith-pcsm-source"
#
#    - name: Create a replicaset rs for Destination
#      community.mongodb.mongodb_replicaset:
#        replica_set: rs
#        login_host: "{{ private_destination_ip }}"
#        members:
#          - host: "{{ private_destination_ip }}:27017"
#            priority: 1
#        validate: no
#      when: inventory_hostname == "keith-pcsm-destination"
#
#    - name: Reload systemd
#      systemd:
#        daemon_reload: yes
#      when: inventory_hostname in groups['psmdb']

    - name: Set replSetName to configReplSet
      ansible.builtin.replace:
        path: /etc/mongod.conf
        regexp: '^(replication:\s*\n\s*replSetName:\s*).*'
        replace: '\1"configReplSet"'
      when: inventory_hostname in groups['psmdb']

    - name: Ensure configsvr role is present
      ansible.builtin.replace:
        path: /etc/mongod.conf
        regexp: '^#sharding:\s*$'
        replace: |-
          sharding:
            clusterRole: "configsvr"
      when: inventory_hostname in groups['psmdb']

    - name: Create PCSM system unit file with optional environment variables
      copy:
        dest: /etc/systemd/system/pcsm.service
        content: |
          [Unit]
          Description=Percona Clustersync Service
          After=network.target

          [Service]
          {% if env_vars_parsed %}
          {% for item in env_vars_parsed | dict2items %}
          Environment="{{ item.key }}={{ item.value }}"
          {% endfor %}
          {% endif %}
          ExecStart=/usr/local/bin/pcsm \
            --source mongodb://{{ private_source_ip }}:27017 \
            --target mongodb://{{ private_destination_ip }}:27017 \
            --log-level debug \
            --log-json
          Restart=on-failure
          User=root

          [Install]
          WantedBy=multi-user.target
        owner: root
        group: root
        mode: '0644'
      when: inventory_hostname == "keith-pcsm-clustersync"

    - name: Reload systemd and start pcsm service
      service:
        daemon_reload: yes
        name: pcsm.service
        state: started
      when: inventory_hostname == "keith-pcsm-clustersync"

#    - name: Start mongos router
#      become: true
#      ansible.builtin.command: >
#        mongos
#        --configdb configReplSet/pcsm-source:27017
#        --port 27018
#        --bind_ip 0.0.0.0
#        --logpath /var/log/mongodb/mongos.log
#        --fork

    - set_fact:
        ssh_pubkey: "{{ lookup('env', 'SSH_PUBKEY') | default('none', true) }}"

    - set_fact:
        ssh_user: "{{ lookup('env', 'SSH_USER') | default('none', true) }}"

    - name: Add user to Redhat
      user:
        name: "{{ ssh_user }}"
        shell: /bin/bash
        groups: wheel
        append: yes
      when: ssh_user != "none" and ssh_pubkey != "none" and ansible_facts['os_family'] == 'RedHat'

    - name: Add user to Debian
      user:
        name: "{{ ssh_user }}"
        shell: /bin/bash
        groups: sudo
        append: yes
      when: ssh_user != "none" and ssh_pubkey != "none" and ansible_facts['os_family'] == 'Debian'

    - name: Add pub key
      authorized_key:
        user: "{{ ssh_user }}"
        state: present
        key: "{{ ssh_pubkey }}"
      when: ssh_user != "none" and ssh_pubkey != "none"

    - name: Allow sudo without password
      lineinfile:
        dest: /etc/sudoers
        state: present
        regexp: '^%wheel'
        line: '%wheel ALL=(ALL) NOPASSWD: ALL'
      when: ssh_user != "none" and ssh_pubkey != "none" and ansible_facts['os_family'] == 'RedHat'

    - name: Allow sudo without password
      lineinfile:
        dest: /etc/sudoers
        state: present
        regexp: '^%sudo'
        line: '%sudo ALL=(ALL) NOPASSWD: ALL'
      when: ssh_user != "none" and ssh_pubkey != "none" and ansible_facts['os_family'] == 'Debian'


#    - name: Install and configure PMM Client
#      include_tasks: ../scripts/install_pmm.yml