- name: Converge
  hosts: all
  become: true
  become_method: sudo
  collections:
    - community.mongodb
  vars:
    env_string: "{{ lookup('env', 'EXTRA_VARS') | default('') }}"
    env_vars_parsed: >-
      {{ dict(
           env_string.split(',')
           | map('trim')
           | select('match', '^.+?=.+$')
           | map('split', '=', 1)
         )
      }}
  tasks:
    - set_fact:
        # Version of psmdb release to be enabled (6, 7, or 8)
        psmdb_version: "{{ lookup('env', 'PSMDB') | default('8', true) }}"

    - set_fact:
        # Branch of pcsm branch to test
        pcsm_branch: "{{ lookup('env', 'PCSM_BRANCH') | default('main', true) }}"

    - set_fact:
        # Go Version
        golang_version: "{{ lookup('env', 'GO_VERSION') | default('1.24.2', true) }}"

    - set_fact:
        # User to log into each AWS Instance
        ssh_user: "{{ lookup('env', 'SSH_USER') | default('none', true) }}"

    - name: Install PSMDB and PCSM Source and Destination
      include_tasks: ../scripts/install_pcsm_psmdb.yml

#    - name: Create a replicaset rs for Source
#      community.mongodb.mongodb_replicaset:
#        replica_set: rs
#        login_host: "{{ private_source_ip }}"
#        members:
#          - host: "{{ private_source_ip }}:27017"
#            priority: 1
#        validate: no
#      when: inventory_hostname == "keith-pcsm-source"
#
#    - name: Create a replicaset rs for Destination
#      community.mongodb.mongodb_replicaset:
#        replica_set: rs
#        login_host: "{{ private_destination_ip }}"
#        members:
#          - host: "{{ private_destination_ip }}:27017"
#            priority: 1
#        validate: no
#      when: inventory_hostname == "keith-pcsm-destination"
#
#    - name: Reload systemd
#      systemd:
#        daemon_reload: yes
#      when: inventory_hostname in groups['psmdb']

    - name: Create PCSM system unit file with optional environment variables
      copy:
        dest: /etc/systemd/system/pcsm.service
        content: |
          [Unit]
          Description=Percona Clustersync Service
          After=network.target

          [Service]
          {% if env_vars_parsed %}
          {% for item in env_vars_parsed | dict2items %}
          Environment="{{ item.key }}={{ item.value }}"
          {% endfor %}
          {% endif %}
          ExecStart=/usr/local/bin/pcsm \
            --source mongodb://{{ private_source_ip }}:27017 \
            --target mongodb://{{ private_destination_ip }}:27017 \
            --log-level debug \
            --log-json
          Restart=on-failure
          User=root

          [Install]
          WantedBy=multi-user.target
        owner: root
        group: root
        mode: '0644'
      when: inventory_hostname == "keith-pcsm-clustersync"

    - name: Reload systemd and start pcsm service
      service:
        daemon_reload: yes
        name: pcsm.service
        state: started
      when: inventory_hostname == "keith-pcsm-clustersync"

    - name: Download runc binary
      get_url:
        url: https://github.com/opencontainers/runc/releases/download/v1.1.12/runc.amd64
        dest: /usr/local/bin/runc
        mode: '0755'
      when: inventory_hostname == "keith-pcsm-clustersync"

    - name: Move runc to /usr/bin
      copy:
        src: /usr/local/bin/runc
        dest: /usr/bin/runc
        remote_src: yes
        mode: '0755'
        force: yes
      when: inventory_hostname == "keith-pcsm-clustersync"

    - name: Ensure docker group exists
      group:
        name: docker
        state: present
      when: inventory_hostname == "keith-pcsm-clustersync"

    - name: Add user ssh-user to docker group
      user:
        name: "{{ ssh_user }}"
        groups: docker
        append: yes
      when: inventory_hostname == "keith-pcsm-clustersync"

#    - name: Install and configure PMM Client
#      include_tasks: ../scripts/install_pmm.yml