---
- name: Download packages to localhost
  hosts: localhost
  connection: local
  gather_facts: true
  tasks:
    - name: Get mongodb version
      set_fact:
        full_ver: "{{ lookup('env', 'PSMDB_VERSION') }}"
        repo: "{{ lookup('env', 'REPO') }}"
        os_arch: "{{ 'amd64' if ansible_architecture == 'x86_64'
                       else 'arm64' if ansible_architecture == 'arm64'
                       else ansible_architecture }}"

    - name: Get mongodb major version
      set_fact:
        maj_version: "{{ full_ver[0].split('.')[0] }}"
        minor_version: "{{ full_ver.split('-')[0] }}"

    - name: Debug mongodb major version
      debug:
        msg: "{{ maj_version }}"

    - name: Debug mongodb minor version
      debug:
        msg: "{{ minor_version }}"

    - set_fact:
        tarball: "https://downloads.percona.com/downloads/TESTING/psmdb-{{ minor_version }}/percona-server-mongodb-{{ full_ver }}-{{ ansible_architecture }}"

    - name: Debug mongodb URL
      debug:
        msg: "{{ tarball }}"

    - name: Download tarball from url
      get_url:
        url: '{{ tarball }}.{{ item }}-minimal.tar.gz'
        dest: /tmp/percona-server-mongodb-{{ item }}.tar.gz
        mode: '0644'
      loop:
        - ol7
        - ol8
        - ol9
        - ol2023
        - jammy
        - focal
        - noble
        - buster
        - bookworm
        - bullseye
      ignore_errors: yes

- name: Converge
  hosts: all
  become: true
  become_method: sudo
  gather_facts: yes
  roles:
    - role: '../../../roles/easyrsa'
    - role: psmdb-tarball
    - role: '../../../roles/docker'
    - role: '../../../roles/openldap'
    - role: '../../../roles/kmip-vault'
    - role: '../../../roles/kerberos-docker'
    - role: '../../../roles/keycloak'
