---
- name: Download packages to localhost
  hosts: localhost
  connection: local
  gather_facts: false
  tasks:
    - name: Get mongodb version
      set_fact:
        full_ver: "{{ lookup('env', 'PSMDB_VERSION') }}"
        repo: "{{ lookup('env', 'REPO') }}"

    - name: Get mongodb major version
      set_fact:
        maj_version: "{{ full_ver[0].split('.')[0] }}"
        minor_version: "{{ full_ver.split('-')[0] }}"

    - name: Debug mongodb major version
      debug:
        msg: "{{ maj_version }}"

    - name: Debug mongodb minor version
      debug:
        msg: "{{ minor_version }}"

    - set_fact:
        tarball: "https://downloads.percona.com/downloads/TESTING/psmdb-{{ minor_version }}/percona-server-mongodb-{{ full_ver }}-{{ ansible_architecture }}"

    - name: Debug mongodb URL
      debug:
        msg: "{{ tarball }}"

    - name: Detect OS
      set_fact:
        os: "{{ item }}"
      loop:
        - ol7
        - ol8
        - ol9
        - ol2023
        - jammy
        - focal
        - noble
        - bookworm
        - bullseye
        - buster
      when:
        - ( ansible_distribution == "Ubuntu" and ansible_distribution_major_version == "20" and item == "focal") or
          ( ansible_distribution == "Ubuntu" and ansible_distribution_major_version == "22" and item == "jammy") or
          ( ansible_distribution == "Ubuntu" and ansible_distribution_major_version == "24" and item == "noble") or
          ( ansible_distribution == "Debian" and ansible_distribution_major_version == "10" and item == "buster") or
          ( ansible_distribution == "Debian" and ansible_distribution_major_version == "11" and item == "bullseye") or
          ( ansible_distribution == "Debian" and ansible_distribution_major_version == "12" and item == "bookworm") or
          ( ansible_os_family == "RedHat" and ansible_distribution_major_version == "7" and item == "ol7") or
          ( ansible_os_family == "RedHat" and ansible_distribution_major_version == "8" and item == "ol8") or
          ( ansible_os_family == "RedHat" and ansible_distribution_major_version == "9" and item == "ol9") or
          ( ansible_os_family == "RedHat" and ansible_distribution_major_version == "2023" and item == "ol2023")

    - name: Download tarball from url
      get_url:
        url: '{{ tarball }}.{{ os }}-minimal.tar.gz'
        dest: /tmp/percona-server-mongodb.tar.gz
        mode: '0644'

- name: Converge
  hosts: all
  become: true
  become_method: sudo
  gather_facts: yes
  roles:
    - role: '../../../roles/easyrsa'
    - role: psmdb-tarball
    - role: '../../../roles/docker'
    - role: '../../../roles/openldap'
    - role: '../../../roles/kmip-vault'
    - role: '../../../roles/kerberos-docker'
    - role: '../../../roles/keycloak'
