---
# tasks file for PSMDB
- set_fact:
    toolkit: "{{ lookup('env', 'ENABLE_TOOLKIT') | default('false', true) }}"

- name: Install Readelf for RHEL 8
  yum:
    name: "{{ packages }}"
    state: present
    update_cache: yes
  vars:
    packages:
      - binutils
  when: ansible_os_family == "RedHat" and ansible_distribution_major_version == "8"

- name: remove the Percona apt main repository
  apt_repository: repo='deb http://repo.percona.com/apt {{ ansible_distribution_release }} main' state=absent update_cache=yes
  when: ansible_os_family == "Debian"

- name: remove the Percona apt testing repositories
  apt_repository: repo='deb http://repo.percona.com/apt {{ ansible_distribution_release }} testing' state=absent update_cache=yes
  when: ansible_os_family == "Debian"

- name: remove the Percona yum repositories
  yum: name=percona-release state=absent
  when: ansible_os_family == "RedHat"

- name: remove saved repo files in yum
  file: path={{ item }} state=absent
  with_items:
    - /etc/yum.repos.d/percona-release.repo
    - /etc/yum.repos.d/percona-release.repo.rpmsave
  when: ansible_os_family == "RedHat"

- name: Install percona release package
  include_tasks: ../../../tasks/install_percona_release.yml

# KEITH COMMENT CHANGE WHEN BUILD READY
- name: enable psmdb PRO repo
  command: percona-release enable psmdb-{{ version.split('.')[0] }}{{ version.split('.')[1] }}-pro {{ repo }} --user_name={{ client_id }} --repo_token={{ client_token }}
  vars:
    repo: "{{ lookup('env', 'REPO') }}"
    version: "{{ lookup('env', 'PSMDB_VERSION') }}"
    client_id: "{{ lookup('env', 'USERNAME') }}"
    client_token: "{{ lookup('env', 'PASSWORD') }}"

- block:
    - name: include tasks for PSMDB install
      include_tasks: ../../../tasks/install_psmdb.yml
      vars:
        psmdb_to_test: "{{ lookup('env', 'PSMDB_VERSION') }}"
        # KEITH COMMENT CHANGE WHEN BUILD READY
        psmdb_pkg_name_addon: "-pro"
  environment:
    PERCONA_TELEMETRY_URL: "https://check-dev.percona.com/v1/telemetry/GenericReport"

- name: Attempt to start mongod service
  block:
    - name: start mongod service
      service: name=mongod state=started

  rescue:
    - name: Check the journal content
      shell: |
        journalctl -n 100 --no-pager
      register: journal_content

    - name: Print the journal
      debug:
        msg: "{{ journal_content }}"

    - name: Check mongod logs
      shell: |
        cat /var/log/mongo/mongod.log
      register: mongod_logs
      when: ansible_os_family == "RedHat"

    - name: Check mongod logs
      shell: |
        cat /var/log/mongodb/mongod.log
      register: mongod_logs
      when: ansible_os_family == "Debian"

    - name: Print mongod logs
      debug:
        msg: "{{ mongod_logs }}"

    - name: Fail
      command: /bin/false

- set_fact:
    job_name: "{{ lookup('env', 'JOB_NAME') | lower | default('local', true) }}"

- name: Reconfigure mongod for fips
  block:
    - name: stop mongod service
      service: name=mongod state=stopped

    - name: Truncate logs
      shell: truncate -s 0 /var/log/mongo/mongod.log
      when: ansible_os_family == "RedHat"

    - name: Truncate logs
      shell: truncate -s 0 /var/log/mongodb/mongod.log
      when: ansible_os_family == "Debian"
     
    - name: Reconfigure mongod.conf
      blockinfile:
        path: /etc/mongod.conf
        marker: "# {mark} ANSIBLE MANAGED BLOCK"
        insertafter: "net:"
        block: |
          {% filter indent(width=2, first=true) %}
          tls:
            FIPSMode: true
          {% endfilter %}

    - name: start mongod service
      service: name=mongod state=started

  rescue:
    - name: Check mongod conf
      shell: |
        cat /etc/mongod.conf
      register: mongod_conf

    - name: Print mongod conf
      debug:
        msg: "{{ mongod_conf }}"

    - name: Check mongod logs
      shell: |
        cat /var/log/mongo/mongod.log
      register: mongod_logs   
      when: ansible_os_family == "RedHat"

    - name: Check mongod logs
      shell: |
        cat /var/log/mongodb/mongod.log
      register: mongod_logs
      when: ansible_os_family == "Debian"   

    - name: Print mongod logs
      debug:
        msg: "{{ mongod_logs }}"

    - name: Fail
      command: /bin/false

  when: "'fips' in job_name"

- name: download package-testing repo with wget
  command: "{{ item }}"
  with_items:
    - rm -rf /package-testing
    - rm -f master.zip
    - wget --no-check-certificate -O main.zip https://github.com/Percona-QA/psmdb-testing/archive/refs/heads/PSMDB-1849.zip
    - unzip main.zip
    - rm -f main.zip
    - mv psmdb-testing-main /package-testing

- name: setup tools repo with percona-release
  command: percona-release enable tools
  when: toolkit != false

- name: Install pt package Debian
  apt:
    name: percona-toolkit
  when: ansible_os_family == "Debian" and toolkit != false

- name: Install pt package RHEL
  yum:
    name: percona-toolkit
  when: ansible_os_family == "RedHat" and toolkit != false

- name: Make the backup of mongod.conf
  shell: |
    cp -r /etc/mongod.conf /etc/mongod.conf.default

- name: Get OIDC token endpoint from metadata
  uri:
    url: "https://percona.oktapreview.com/oauth2/ausoxk7qawOSbws7w1d7/.well-known/openid-configuration"
    method: GET
    return_content: yes
    validate_certs: no
  register: oidc_metadata

- name: Request OIDC access token
  uri:
    url: "{{ oidc_metadata.json.token_endpoint }}"
    method: POST
    user: "{{ lookup('env', 'OIDC_CLIENT_ID') }}"
    password: "{{ lookup('env', 'OIDC_CLIENT_SECRET') }}"
    force_basic_auth: yes
    body_format: form-urlencoded
    body:
      grant_type: client_credentials
      scope: offline_access
    return_content: yes
    validate_certs: no
  register: oidc_token

- name: Save OIDC token to file for Testinfra
  copy:
    dest: /tmp/oidc_access_token
    content: "{{ oidc_token.json.access_token }}"
    mode: '0644'
