---
- name: Prepare node for running tests
  hosts: all
  become: true
  become_method: sudo
  gather_facts: true
  tasks:
    - name: Subscribe for fips-updates
      command: pro enable fips-updates --assume-yes
      register: pro_result
      changed_when: "'FIPS Updates enabled' in pro_result.stdout"
      failed_when:
        - pro_result.rc != 0
        - "'FIPS Updates is already enabled' not in pro_result.stdout"

    - name: install needed packages for running tests with apt
      apt:
        name: "{{ packages }}"
        update_cache: yes
        state: latest
      vars:
        packages:
          - unzip
          - wget
          - gnupg
          - gnupg2
          - rsync
          - acl
          - git

