---
- name: Prepare node for running tests
  hosts: all
  become: true
  become_method: sudo
  gather_facts: true
  tasks:
    - name: Subscribe for fips-updates
      command: pro enable fips-updates --assume-yes

    - name: Install virtualenv
      pip:
        name:
          - virtualenv
        state: latest
        executable: /opt/python/bin/pip3

    - name: Upgrade pip and create venv
      pip:
        name:
          - pip
        state: latest
        virtualenv: /opt/venv
        virtualenv_command: /opt/python/bin/virtualenv
        virtualenv_python: /opt/python/bin/python3

    - name: install needed packages for running tests with apt
      apt:
        name: "{{ packages }}"
        update_cache: yes
        state: latest
      vars:
        packages:
          - unzip
          - wget
          - gnupg
          - gnupg2
          - rsync
          - acl
          - git

