---
- name: Prepare node for running tests
  hosts: all
  become: true
  become_method: sudo
  gather_facts: true
  tasks:
    - name: Check partitions
      shell: |
        lsblk
      register: partitions

    - name: Debug partitions
      debug:
        msg: "{{ partitions }}"

    - name: Extend partition /dev/nvme0n1p3
      shell: |
        growpart /dev/nvme0n1 3

    - name: Check partitions
      shell: |
        lsblk
      register: partitions

    - name: Debug partitions
      debug:
        msg: "{{ partitions }}"

    - name: Check filesystem
      shell: |
        df -hT
      register: filesystem

    - name: Debug filesystem
      debug:
        msg: "{{ filesystem }}"

    - name: Extend filesystem
      shell: |
        xfs_growfs -d /

    - name: Check filesystem
      shell: |
        df -hT
      register: filesystem

    - name: Debug filesystem
      debug:
        msg: "{{ filesystem }}"

    - name: setup ca-certificates release
      yum:
        name: ca-certificates
        update_cache: yes
        state: present

    - name: install needed packages for running tests with yum on RHEL
      yum:
        name: "{{ packages }}"
        state: latest
      vars:
        packages:
        - unzip
        - git
        - wget

