name: PCSM-FULL

on:
  workflow_dispatch:
    inputs:
      pcsm_branch:
        description: "pcsm branch"
        required: false
      go_ver:
        description: "golang version"
        required: false

  pull_request:
    types: [opened, reopened, synchronize, ready_for_review]
    branches:
      - main
    paths:
      - 'pcsm-pytest/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    # Will not run if item is a draft
    if: github.event.pull_request.draft == false
    runs-on: ubuntu-latest
    timeout-minutes: 180
    strategy:
      fail-fast: false
      matrix:
        psmdb: ["6.0", "7.0", "8.0"]
        shard: [0, 1, 2, 3, 4]
    env:
      PCSM_BRANCH: ${{ github.event.inputs.pcsm_branch || 'pcsm-253-public-bulk-write' }}
      GO_VER: ${{ github.event.inputs.go_ver || 'bullseye' }}
    steps:
    - uses: actions/checkout@v4
    - name: Setup environment with PSMDB ${{ matrix.psmdb }} and PCSM branch ${{ env.PCSM_BRANCH }}
      run: |
        MONGODB_IMAGE=perconalab/percona-server-mongodb:${{ matrix.psmdb }} docker compose build easyrsa
        MONGODB_IMAGE=perconalab/percona-server-mongodb:${{ matrix.psmdb }} docker compose build
        docker compose up -d
      working-directory: ./pcsm-pytest
    - name: Run pytest shard ${{ matrix.shard }} on PSMDB ${{ matrix.psmdb }} and PCSM branch ${{ env.PCSM_BRANCH }}
      run: |
        docker compose run --rm test pytest -s test_arguments_and_env_vars.py -v --junitxml=junit.xml --shard-id=${{ matrix.shard }} --num-shards=5 -m 'not jenkins'
      working-directory: ./pcsm-pytest
    - name: Publish Test Report
      uses: mikepenz/action-junit-report@v5
      if: success() || failure()
      with:
        report_paths: '**/junit.xml'
        include_passed: True
        detailed_summary: True
        include_time_in_summary: True
