name: PSMDB-1929

on:
  workflow_dispatch:
    inputs:
      psmdb_branch:
        description: "psmdb branch"
        required: false
      psmdb_version:
        description: "psmdb version"
        required: false

  pull_request:
    branches:
      - main

jobs:
  unittests:
    name: Compile and execute unittests
    container:
      image: python:3.10-bookworm
      env:
        PATH: /usr/local/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/root/.local/bin:/github/home/.local/bin
    runs-on: percona-runners
    steps:
      - name: Clone repo
        uses: actions/checkout@v6
        with:
          repository: percona/percona-server-mongodb
          ref: ${{ github.event.inputs.psmdb_branch || 'v8.0' }}
          fetch-depth: 0
      - name: Debug permissions
        run: |
          whoami
          id
          ls -alh
      - name: Fix permissions
        run: chown root:root .
      - name: Debug git
        run: |
          git describe --abbrev=0
      - name: Setup bazel and execute unittests
        run: |
          python buildscripts/install_bazel.py
          bazel test --define=MONGO_VERSION=${{ github.event.inputs.psmdb_version || '8.0.0' }} --config=psmdb_dev --include_autogenerated_targets=True install-mongo_unittest
