name: PSMDB-1929

on:
  workflow_dispatch:
    inputs:
      psmdb_branch:
        description: "psmdb branch"
        required: false
      psmdb_version:
        description: "psmdb version"
        required: false

  pull_request:
    branches:
      - main

jobs:
  unittests:
    name: Compile unittests
    container:
      image: python:3.10-bookworm
      env:
        PATH: /usr/local/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/github/home/.local/bin
        CMAKE_C_FLAGS: " -Wno-error=uninitialized "
        CMAKE_CXX_FLAGS: " -Wno-error=deprecated-declarations -Wno-error=uninitialized "
    runs-on: percona-runners
    steps:
      - name: Instal required software
        run: |
          apt-get update
          DEBIAN_FRONTEND=noninteractive apt-get -y install wget curl file libgmp-dev libmpfr-dev libmpc-dev gcc g++ bzip2 libbz2-dev zlib1g-dev libreadline-dev libffi-dev make tzdata cmake libssl-dev libldap2-dev libkrb5-dev libcurl4-openssl-dev libsasl2-dev liblz4-dev libbz2-dev libsnappy-dev zlib1g-dev libzlcore-dev liblzma-dev e2fslibs-dev iproute2 libc6-dbg
      - name: Compile and install AWS SDK
      - run: |
          cd /tmp
          git clone --branch 1.9.379 --single-branch https://github.com/aws/aws-sdk-cpp.git
          cd aws-sdk-cpp
          git submodule update --init --recursive
          mkdir build
          cd build
          cmake .. -DCMAKE_C_FLAGS="$CMAKE_C_FLAGS" -DCMAKE_CXX_FLAGS="$CMAKE_CXX_FLAGS" -DCMAKE_BUILD_TYPE=Release -DBUILD_ONLY="s3;transfer" -DBUILD_SHARED_LIBS=OFF -DMINIMIZE_SIZE=ON -DCMAKE_INSTALL_PREFIX="/usr" -DAUTORUN_UNIT_TESTS=OFF && \
          make -j "$(nproc)"
          make install
      - name: Clone repo
        uses: actions/checkout@v6
        with:
          repository: percona/percona-server-mongodb
          ref: ${{ github.event.inputs.psmdb_branch || 'v8.0' }}
          fetch-depth: 0
      - name: Fix permissions
        run: chown root:root .
      - name: Setup bazel and build unittests
        run: |
          python buildscripts/install_bazel.py
          bazel build --sandbox_debug --define=MONGO_VERSION=${{ github.event.inputs.psmdb_version || '8.0.0' }} --config=psmdb_dev --include_autogenerated_targets=True install-mongo_unittest
