name: PSMDB-1929

on:
  workflow_dispatch:
    inputs:
      psmdb_branch:
        description: "psmdb branch"
        required: false
      psmdb_version:
        description: "psmdb version"
        required: false

  pull_request:
    branches:
      - main

jobs:
  unittests:
    name: Compile and execute unittests
    container: ubuntu:24.04
    runs-on: percona-runners
    steps:
      - name: Clone repo
        uses: actions/checkout@v6
        with:
          repository: percona/percona-server-mongodb
          ref: ${{ github.event.inputs.psmdb_branch || 'master' }}
      - name: Set up python
        uses: actions/setup-python@v6
        with:
          python-version: "3.13.11"
          cache: "poetry"
      - name: Setup bazel
        run: python buildscripts/install_bazel.py
      - name: Set PATH
        run: echo "export PATH=\$PATH:/root/.local/bin" >> $GITHUB_ENV
      - name: Execute unittests
        run: bazel test --define=MONGO_VERSION=${{ github.event.inputs.psmdb_version || '8.3.0' }} --config=psmdb_dev --include_autogenerated_targets=True install-mongo_unittest
